/** Switch Option **/
.switch_button{
    display: block;
}
.switch_button:before,
.switch_button:after{
    content:'.';
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
.switch_button:after{
	clear:both;
}
.switch_button span{
    display: inline-block;
    float: left;
    padding: 4px 9px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #555;
    border: 1px solid #aaa;
    text-transform: uppercase;
    line-height: 16px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.switch_button span:first-of-type{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}
.switch_button span:last-of-type{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
.switch_button span:hover{
    background: #fafafa;
}
.switch_button span.selected{
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    border-color: #0082A3;
    color: #fff;
}

.customize-control-radio-buttonset label.ui-corner-right {
	border-radius: 0 3px 3px 0; 
}
span.customize-control-title.sepratop-customizer {
    background: #00bbd6;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 15px 0px;
}

/** FA Icon Lists **/
.tb-fa-icons {
    border: solid 1px #c9c9c9;
}
.ta-icon-preview {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background: white;
    padding: 10px 0;
    font-size: 25px;
    border-bottom: solid 2px #00bbd6;
}
ul.icons-list-wrapper li:hover {
    background: #fff;
}
ul.icons-list-wrapper li {
    width: 15%;
    display: inline-block;
    border: solid 1px #00bbd6;
    text-align: center;
    padding: 10px 5px;
    margin-left: 5px;
    color: #4e4e4e;
    font-size: 20px;
}
ul.icons-list-wrapper {
    height: 250px;
    overflow: scroll;
    text-align: center;
}



/** Repeater Field **/
.education-buz-repeater-field-control:first-child .education-buz-repeater-footer {
    display: none;
}
.education-buz-icon-list {
    height: 250px;
    overflow: scroll;
    text-align: center;
    margin-top: 25px;
}
.education-buz-selected-icon{
  background: #F6F6F6;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
}

.education-buz-selected-icon span{
  position: absolute;
  background: #F6F6F6;
  right: -45px;
  top: -1px;
  height: 45px;
  width: 45px;
  border: 1px solid #EEE;
  font-size: 20px;
}
.education-buz-icon-list li {
    width: 15%;
    display: inline-block;
    border: solid 1px #00bbd6;
    text-align: center;
    padding: 10px 5px;
    margin-left: 5px;
    color: #4e4e4e;
    font-size: 20px;
}
dd, li {
    margin-bottom: 6px;
}
.education-buz-icon-list li:hover{
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}

.education-buz-icon-list li.icon-active{
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}
.education-buz-repeater-fields {
    padding: 0 10px 10px;
    border-top: none;
    line-height: 16px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    display: none;
}