.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
    background: #333;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background: #00bbd6;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border-radius: 0;
    padding: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    background: #eee;
    height: 40px;
    right: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 1.5;
    height: 40px;
}
.select2-container .select2-selection--single {
    margin: 0;
    border-radius: 0;
    height: 40px;
    border: 1px solid #ccc;
}
nav.woocommerce-MyAccount-navigation ul {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li a {
    font-size: 16px;
    display: block;
    background: #00bbd6;
    padding: 6px 10px;
    border-bottom: 1px solid #eee;
    color: #fff;
    transition: 0.5s all ease;
}
nav.woocommerce-MyAccount-navigation ul li.is-active a,
nav.woocommerce-MyAccount-navigation ul li:hover a{
    background: #fff;
    color: #333;
}
.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: 68%;
    background: #f7f7f7;
    padding: 10px 20px;
    border: 1px solid #eee;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.added_to_cart.wc-forward {
    border-radius: 0;
    padding: 10px;
    line-height: 1
}
.woocommerce ul.products li.product a {
    text-decoration: none;
    transition: 0.3s all ease;
}
.woocommerce a.added_to_cart{
    padding-top: 10px;
    transition: 0.5s all ease;
}
.added_to_cart.wc-forward{
    display: block;
    color: #fff;
    background-color: #333;
    padding: 10px;
    transform: translateX(10px);
    transition: 0.5s all ease;
}
.added_to_cart.wc-forward:hover{
    background: #111;
    color: #fff!important;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
    border-radius: 0;
}
.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
    width: 30.75%;
    font-size: 16px;
}
.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    padding: 10px;
}
.woocommerce ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -.5em 0 0 0;
    border-radius: 0;
    border-left: 5px solid #fcfcfc;
    border-bottom: 5px solid #fcfcfc;
    padding: 0 10px;
    font-size: 12px;
    background: #00bbd6;
}
.woocommerce ul.products li.product .price {
    color: #00bbd6;
    font-size: 14px;
}
.woocommerce ul.products li.product .price del {
    color: inherit;
    display: inline-block;
    color: #333;
    margin-right: 10px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 0 0 10px;
    margin: 0;
    font-size: 16px;
}
li.post-391.product:hover .woocommerce-loop-product__title{
    color: #333;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 100px;
    height: 43px;
}
.woocommerce-message {
    border-top-color: #00bbd6;
}
.woocommerce-message::before {
    content: '\e015';
    color: #00bbd6;
}
.woocommerce ul.products li.product .button {
    margin-top: 1em;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #00bbd6;
}
.woocommerce-info {
    border-top-color: #00bbd6;
}
.woocommerce-info::before {
    color: #00bbd6;
}
